<style>
    .nostyle {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
</style>
<div>
    <ul class="nostyle">
        <li><a href="/countries">List of countries</a></li>
        <li><a href="/cities">List of cities</a></li>
        <li><a href="/heads-of-states">List Head of States</a></li>

    </ul>
</div>